{
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties",
    "styled-jsx/babel"
  ],
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ]
}
