@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
  padding: 40px 0;
  font-family: Raleway, Helvetica, Arial;
}

.header {
  text-align: center;
  margin-bottom: 100px;
}

.header h1 {
  font-weight: 900;
  text-align: center;
  font-size: 80px;
  margin-bottom: 0;
}

.header p {
  padding-left: 60px;
  margin-top: -10px;
  font-size: 14px;
}

h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-top: 70px;
  color: #333;
}

h4 {
  margin-top: 60px;
}

.pink-area, .dark-pink-area, .light-pink-area {
  min-height: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 3px;
  overflow: hidden;
}

.pink-area {
  background: #5954D3;
  color: #c4c1fb;
}

.light-pink-area {
  background: #9c99f6;
}

.with-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-nested {
  overflow: hidden;
  height: calc(100% - 60px);
  padding: 20px;
  margin-bottom: 0;
}

pre {
  padding: 0 20px !important;
  font-size: 14px;
  border-radius: 3px;
  background: #ededff !important;
}

.token.operator {
  background: transparent !important;
}
